.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  body {
    background-color: #f4f7f6;
    font-family: "Poppins", sans-serif;
    color:#000;
    }

    a,a.link {
    color: #395370;
    text-decoration: none;
    }
 
    .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    }
    
    .card-header {
    background-color: #fff;
    border-bottom: none;
    font-weight: bold;
    font-size: 1.25rem;
    color: #333;
    }
    
    .card-body {
    background-color: #fff;
    padding: 20px;
    }
    
    .btn {
    border-radius: 6px;
    padding: 5px 10px;
    }
    
    .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    }
    
    .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    }
    
    .todo-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: move;
    }
    
    .todo-item:last-child {
    border-bottom: none;
    }
    
    .todo-item a {
    cursor: pointer;
    color: #6c757d;
    text-decoration: underline;
    }
    
    .todo-item a:hover {
    color: #6c757d;
    }
    
    .modal-header {
    border-bottom: none;
    }
    
    .modal-footer {
    border-top: none;
    }
    
    /* Summary Styles */
    .text {
    min-height: 190px;
    max-height: 190px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: max-height 0.3s ease;
    }
    
    .text.expanded {
    max-height: none;
    z-index: 999;
    position:absolute;
    }
    
    
    /* User thumbnails*/
    ul#thumbnail {
    display: flex;
    list-style-type: none;
    padding: 0;
    }
    
    #thumbnail>li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    }
    
    #thumbnail>li>img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    
    }

    button.trash, button.trash:hover, button.trash:focus, button.trash:active {
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-size:16px;
    }

    .gold {
    color: #FFD700;
    }

    